<% include header%>
<form method="post">
    <!--action如果不写 默认/login-->
    标题：<br />
    <input type="text" name="title" /><br />
    文章内容：<br />
    <textarea name="post" rows="20" cols="100"></textarea><br />
    <input type="submit" value="发表" />
</form>
<% include footer%>